manifest {
	author = "Christian Schudoma, Shahriyar Mahdi Robbani, Daniel Podlesny, Oskar Hickl, Anna Heintz-Buschart, Patrick May"
	defaultBranch = "main"
	description = "Nextflow port of IMP3 meta-omics workflow"
	name = "nimp3"
	nextflowVersion = ">=22.10.6"
	version = "0.2.1"
}

process {
    withName: prepare_fastqs {
		executor = "local"
		scratch = null
		container = null
	}
    withName: fastqc {
        container = "quay.io/biocontainers/fastqc:0.12.1--hdfd78af_0"
    }
    withName: multiqc {
        container = "quay.io/biocontainers/multiqc:1.21--pyhdfd78af_0"
	}
    withName: flagstats {
        container = "quay.io/biocontainers/samtools:1.19.2--h50ea8bc_1"
    }
    withLabel: kraken2 {
        //container = "quay.io/biocontainers/kraken2:2.1.3--pl5321hdcf5f25_0"
        container = "registry.git.embl.de/schudoma/kraken2-docker:latest"
    }
    withLabel: bbduk {
        container = "quay.io/biocontainers/bbmap:39.06--h92535d8_0"
    }
    withLabel: align {
        //container = "quay.io/biocontainers/bwa:0.7.3a--he4a0461_9"
        container = "registry.git.embl.de/schudoma/align-docker:latest"
    }
    withLabel: samtools {
        //container = "quay.io/biocontainers/samtools:1.19.2--h50ea8bc_1"
        container = "registry.git.embl.de/schudoma/align-docker:latest"
	}
	withName: merge_single_fastqs {
        container = "quay.io/biocontainers/bbmap:39.06--h92535d8_0"
    }
    withLabel: megahit {
        publishDir = "${params.output_dir}"
	    container = "quay.io/biocontainers/megahit:1.2.9--h43eeafb_4"
	}

	withName: bwa_index {
        //container = "quay.io/biocontainers/bwa:0.7.3a--he4a0461_9"
        container = "registry.git.embl.de/schudoma/align-docker:latest"
    }
	withName: sortmerna {
	    container = "quay.io/biocontainers/sortmerna:4.3.6--h9ee0642_0"
    }
}

params {
    //input options
    meta_g_input = null
    meta_t_input = null

    //output
    output_dir = null

    run_preprocessing = true
    remove_host = false
    drop_orphans = false
    qc_minlen = 45
    qc_params_shotgun = "qtrim=rl trimq=3 maq=25 ktrim=r k=23 mink=11 hdist=1 ftm=5 entropy=0.5 entropywindow=50 entropyk=5 tpe tbo"
    remove_host_kraken2_db = null
    kraken2_min_hit_groups = 10
    run_sortmerna = false
    sortmerna_db = null
    assembler = "megahit"
    kmer_steps = "25,29,33,37,41,45,49,53,57,61,65,69,73,77,81,85,89,93,97"
}

docker {
  enabled = true
}
